body {
  background-color: lightblue;
}

h1 {
  color: white;
}

p {
  font-family: verdana;
}

textarea {
  width: 100%;
}

.reviews {
  list-style-type: lower-alpha;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2vw;
}
.new-line {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.new-line-insert {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.new-line-button {
  align-self: flex-start;
}

.new-line-text {
  background-color: whitesmoke;
  width: 100%;
  height: 20px;
  margin-right: 2vw;
  width: 100%;
}
.insert-line-text {
  background-color: whitesmoke;
  width: 100%;
  height: 20px;
  margin-right: 2vw;
  width: 100%;
}
.new-line-done {
  background-color: whitesmoke;
  width: 100%;
  height: 20px;
  margin-right: 2vw;
  width: 100%;
}

.new-line-number {
  min-width: 10vw;
}
.insert-line-number {
  min-width: 10vw;
}
